* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.before {
    content: "";
}

.after {
    content: "";
}

.mrl0 {
    margin-left: 0 !important;
}

.mrr0 {
    margin-right: 0 !important;
}